h1 {
  color: rgb(212, 27, 14);
  font-size: 48px;
}

body {
  background-color: aquamarine;
  font-family: 'HiraKakuProN-W3';
}

a {
  color: rgb(196, 54, 54);
  color: rgb(196, 54, 54);
  color: rgb(196, 54, 54);
  /* color: rgb(196, 54, 255); */
}